<script type="text/x-kendo-template" id="template">
    <div class="imovel-thumbnail">
        <a href="/Imoveis/Details/#:ImovelId#">
            # if (Imagem === null || Imagem === '') { #
            <img src="/Files/logotipo_small2_quad.JPG" alt="sem imagem" />
            # } else { #
            <img src="/UploadFiles/#: Imagem #" alt="#: Nome # image" />
            # } #
            <h3>#:Nome#</h3>
            <ul>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>#:Objetivo#</li>
                <li>#:Tipo#</li>
                <li>#:Concelho# / #:Freguesia#</li>
                # if (Preco < 1) { #
                <li>&nbsp;</li>
                # } else { #
                <li>#:kendo.toString(Preco, "c")#</li>
                # } #
                <li>&nbsp;</li>
                <li>&nbsp;</li>
            </ul>
        </a>
    </div>
</script>
