body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

.user {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.profile {
    background-image: url('../../Files/FotografiaTiagoCunha.jpg');
}

.jumbotron-cover {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url("../../Files/PonteDeLima.jpg");
    background-size: cover;
    background-position: center, center;
    color: white;
}

#listView {
    padding: 10px 5px;
    margin-bottom: -1px;
    min-height: 510px;
}

.imovel-thumbnail {
    float: left;
    position: relative;
    width: 241px;
    height: 280px;
    margin: 0 20px;
    padding: 0;
}

    .imovel-thumbnail img {
        width: 240px;
        height: 240px;
    }

    .imovel-thumbnail h3 {
        margin: 0;
        padding: 3px 5px 0 0;
        max-width: 240px;
        overflow: hidden;
        line-height: 1.1em;
        font-size: .9em;
        font-weight: normal;
        color: #999;
    }

    .imovel-thumbnail ul {
        visibility: hidden;
    }

    .imovel-thumbnail:hover ul {
        visibility: visible;
        list-style-type: none;
        position: absolute;
        width: 240px;
        height: 240px;
        top: 0;
        margin: 0;
        padding: 0;
        line-height: 30px;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        background-color: rgba(0,0,0,0.75);
        -moz-transition: background .2s linear, color .2s linear;
        -webkit-transition: background .2s linear, color .2s linear;
        -o-transition: background .2s linear, color .2s linear;
        transition: background .2s linear, color .2s linear;
    }

.k-listview:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.imovelCover {
    border-radius: 2%;
    /*border: 10px solid black;*/
    -moz-border-image: none;
    -o-border-image: none;
    -webkit-border-image: none;
    border-image: none;
    width: 100%;
}

.swiper-container {
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

.gallery-top {
    height: 400px;
    width: 100%;
}

.gallery-thumbs {
    height: 20%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0;
}

    .gallery-thumbs .swiper-slide {
        width: 100px;
        height: 100px;
        opacity: 0.4;
    }

    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }
