@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>

<address>
    LIMIA URBANUS, UNIPESSOAL LDA <br />
    Lugar do Terreiro, Gandra PTL, Portugal <br />
    <abbr title="Telefone">Telefone: </abbr><a href="tel:+351967205258">96 720 52 58</a>
</address>

<address>
    <strong>Email:</strong> <a href="mailto:geral@limiaurbanus.pt">geral@limiaurbanus.pt</a><br />
</address>

<p>
    Horário de funcionamento: Segunda a sábado, 09h00 - 19h00.
</p>

<hr />
@Html.Partial("_Contact")
