@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>

<address>
    LIMIA URBANUS, UNIPESSOAL LDA <br />
    Lugar do Terreiro, Gandra PTL, Portugal <br />
    <abbr title="Phone">Telefone:</abbr>967205258

</address>

<address>
    <strong>Email:</strong> <a href="mailto:geral@limiaurbanus.pt">geral@limiaurbanus.pt</a><br />
</address>

<p>
    Horário de funcionamento: Segunda a sexta, 09h00 - 19h00.
</p>