@{
    ViewBag.Title = "Bem-vindo";
}

<div class="jumbotron jumbotron-cover">
    <h1>Limia Urbanus</h1>
    <p class="lead">Mediação Imobiliária, Unipessoal Lda. é uma agência imobiliária licenciada a operar no distrito de Viana do Castelo desde 2015.</p>
    <p>
        @Html.ActionLink("Procure o seu imóvel »", "Search", "Imoveis", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

<hr />

<div class="row">
    <div class="col-md-9">
        <h4>
            Se tem uma casa, um apartamento ou outro imóvel para vender ou arrendar, tenho o maior prazer em ajudá-lo.
        </h4>
        <ul class="list-group">
            <li class="list-group-item active">
                Ofereço
            </li>
            <li class="list-group-item">
                <p>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Um extenso catálogo de mais de dez mil casas e apartamentos.
                </p>
            </li>
            <li class="list-group-item">
                <p>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Corretores que irão ajudá-lo passo a passo a encontrar o melhor imóvel pelo preço certo para fechar um negócio.
                </p>
            </li>
            <li class="list-group-item">
                <p>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Orçamento sem compromisso para os vendedores.
                </p>
            </li>
            <li class="list-group-item">
                <p>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Consulta gratuita de um advogado sobre os aspectos legais.
                </p>
            </li>
            <li class="list-group-item">
                <p>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Transporte gratuito para o local de visita no carro da agência.
                </p>
            </li>
        </ul>
    </div>
    <div class="col-md-3 text-center">
        <figure class="figure">
            <div class="user profile center-block">
            </div>
            <figcaption class="figure-caption"><b>Tiago Pita</b></figcaption>
        </figure>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Comprar</h2>
        <p>
            Encontre o imóvel que pretende comprar. Temos a melhor opções para si.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Ver mais &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Vender</h2>
        <p>
            Se tem uma casa, um apartamento ou outro imóvel para vender ou arrendar, teremos o maior prazer em ajudá-lo.
        </p>
        <p>
            Oferecemos avaliação gratuita e publicidade.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Ver mais &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contactar-me</h2>
        <p>
            Estámos à disposição para esclarecer qualquer dúvida e para o ajudar com os seus imóveis.
        </p>
        <p>
            Não hesite em entrar em contacto connosco.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Ver mais &raquo;</a>
        </p>
    </div>
</div>
