
@{
    ViewBag.Title = "Vender";
}

<h2>Vender</h2>
<p>
    Caso pretenda vender ou arrendar o teu imóvel entre em contacto connosco.
</p>
<p>
    Envie um email para <a href="mailto:tiagopitacunha@hotmail.com">Tiago Pita</a>
</p>
